.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0a1a2f; 
    padding: 20px;
}
  
.hero-content {
    color: white; 
    max-width: 50%; 
}
  
.hero-content h1 {
    font-size: 2.5rem; 
    font-weight: bold; 
    margin-bottom: 20px; 
}
  
.sign-up-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
    transition: background-color 0.3s; 
}
  
.sign-up-button:hover {
    background-color: #0056b3; 
}
  
.social-icons {
    display: flex; 
    justify-content: center; 
    gap: 10px; 
    margin-top: 10px; 
}
  
.social-icons svg {
    background-color: #2c3e50; 
    color: white; 
    padding: 10px; 
    border-radius: 8px; 
    font-size: 24px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 30px; 
    height: 30px; 
    transition: background-color 0.3s; 
}
  
.social-icons svg:hover {
    background-color: #34495e;
}
  
.hero-images {
    display: flex; 
}
  
.hero-images img {
    border-radius: 10px;
    margin-left: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hero-images img:hover {
    transform: scale(1.02); 
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); 
}

