.feat-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #081c2c; /* Ensure the background color is set */
    padding: 20px; /* Increase dimensions by adding padding */
  }
  
  .card {
    position: relative;
    background-size: cover;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    color: white;
    box-sizing: border-box;
    
  }
  
  .card-content {
    max-width: 60%;
  }
  
  .features {
    display: flex;
    gap: 10px;
    margin: 10px 0;
  }
  
  .feature {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .explore-button {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .person-image {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 104%;
    border-radius: 10px;
  }
  